@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-sans;
  }
}

/* Scrollbar Styling */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: hsl(0 0% 4%);
}

::-webkit-scrollbar-thumb {
  background: hsl(0 0% 20%);
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: hsl(0 0% 33%);
}
